<section class="classes-section col-12 col-md-9">
  <div class="classes-container">
    <div class="classes-title d-flex justify-content-between my-3">
      <h3 class="font-weitht-bold">管理所有班級權限</h3>
      <a href="/admin/classes/create" class="btn btn-primary text-center">新增班級</a>
    </div>
    {{>message}}
    <table class="classes-table bg-white w-100">
      <thead class="thead-dark bg-info bg-gradient w-100">
        <tr class="w-100 text-white">
          <th scope="col-3" class="p-1">班級</th>
          <th scope="col-3" class="p-1">狀態</th>
          <th scope="col-3" class="p-1">作業</th>
          <th scope="col-3" class="p-1">編輯</th>
          <th scope="col-3" class="p-1">*</th>
        </tr>
      </thead>

      <tbody>
        {{#each classes}}
        <tr>
          <th scope="row" class="p-1">
            {{this.name}}
          </th>
          {{#if this.isPublic}}
          <td class="p-1">
            公開
          </td>
          {{else}}
          <td class="p-1">
            不公開
          </td>
          {{/if}}
          <th scope="row" class="p-1">
            <a href="/admin/classes/{{this.id}}/homeworks" class="btn btn-success p-1">管理</a>
          </th>
          <td class="p-1">
            <a href="/admin/classes/{{this.id}}/edit" class="btn btn-primary p-1">編輯</a>
          </td>
          <td class="p-1">
            <form action="/admin/classes/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-light p-1 border-danger text-danger">刪除</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody> 
    </table>
    {{#unless classes}}
    <div class="alert alert-info my-2" role="alert">
      現在沒有班級<br />
      趕快來新增第一個班級吧！
    </div>
    {{/unless}}
  </div>

  <div class="paginator-container">
    <nav aria-label="Page navigation example" class="mt-2">
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/admin/classes?page={{prev}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each totalPage}}
        {{#if (equal this ../page)}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link" href="/admin/classes?page={{this}}">{{this}}</a></li>
        {{/if}}
        {{/each}}
        <li class="page-item"><a class="page-link" href="/admin/classes?page={{next}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>


