<section class="homeworks-section col-12 col-md-9">
  <div class="homeworlds-container bg-white my-1">
    {{>message}}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">資料一覽</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">修改權限</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card mb-3 mx-auto">
          <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="col-md-8">
              <div class="card-body bg-light pl-5">
                <h5 class="card-title">{{user.name}}</h5>
                <h6>暱稱：{{user.nickName}}<h6>
                <h6>權限：{{user.Authority.name}}</h6>
                <h6>參與課程：</h6>
                {{#each user.AttendClasses}}
                <h6>{{this.Class.name}}</h6>
                {{/each}}             
                <h6>Email: {{user.email}}</h6>
                <h6>加入日期：{{user.createdAt}}</h6>
              </div>
            </div>
          </div>
        </div>        
      </div>
      
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="card mb-3 mx-auto">
          <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="col-md-8">
              <div class="card-body bg-light pl-5">
                <h5 class="card-title">{{user.name}}</h5>
                <h6>更改權限：</h6>
                <form action="/admin/users/{{user.id}}/authority?_method=PUT" method="POST">
                  <div class="user-authority form-row align-items-center">
                    <div class="col-auto my-1">
                      <label class="mr-sm-2 sr-only" for="authoritySelect">Preference</label>
                      <select class="custom-select mr-sm-2" id="authoritySelect" name="authority">
                        <option selected disabled>選擇...</option>
                        <option value="1">user</option>
                        <option value="3">mentor</option>
                        <option value="4">admin</option>
                      </select>
                    </div>
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary">變更</button>
                    </div>
                  </div>
                </form>

                <hr />

                <h6>已加入班級：</h6>
                {{#each user.AttendClasses}}
                <div class="shadow-sm bg-white d-flex justify-content-between mb-2">          
                  <span>{{this.Class.name}}</span> 
                  <form action="/admin/users/{{../user.id}}/attendclasses/{{this.id}}?_method=DELETE" method="POST">
                    <button type="submt" class="btn btn-danger">退出班級</button>
                  </form>    
                </div>
                {{/each}} 

                <hr />

                <h6>加入班級：</h6>
                <form action="/admin/users/{{user.id}}/attendclasses" method="POST" class="row">
                  <div class="col-8">
                    <select class="custom-select" name="ClassId">
                      <option selected disabled>選擇班級</option>
                      {{#each class}}
                      <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                             
                  </div>
                  <div class="col-4 text-right">
                    <button type="submit" class="btn btn-primary">送出</button>
                  </div>
                </form>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>