<section class="homeworks-section col-12 col-md-9">
  <div class="homeworlds-container">
    {{>message}}
    <div class="homeworks-title d-flex justify-content-between my-3">
      <h3 class="class-name font-weight-bold">{{class.name}}</h3>
      <a href="/admin/classes/{{class.id}}/homeworks/create" class="btn btn-primary text-center">新增作業</a>
    </div>
    
    <table class="homework-table bg-white w-100">
      <thead class="thead-dark bg-info bg-gradient w-100">
        <tr class="w-100 text-white">
          <th scope="col-3" class="p-1">作業</th>
          <th scope="col-3" class="p-1">狀態</th>
          <th scope="col-3" class="p-1">到期日</th>
          <th scope="col-3" class="p-1">編輯</th>
          <th scope="col-3" class="p-1">*</th>
        </tr>
      </thead>

      <tbody>
        {{#each class.Homework}}
        <tr>
          <th scope="row" class="p-1">
            {{this.name}}
          </th>
          {{#if this.isPublic}}
          <td class="p-1">
            公開
          </td>
          {{else}}
          <td class="p-1">
            不公開
          </td>
          {{/if}}
          <th scope="row" class="p-1">
            {{dayjs this.expiredTime}}
          </th>

          <td class="p-1">
            <a href="/admin/classes/{{../class.id}}/homeworks/{{this.id}}/edit">編輯</a>
          </td>
          <td class="p-1">
            <form action="/admin/classes/{{../class.id}}/homeworks/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">刪除</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody> 
    </table>
  </div>
</section>
