<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聲音平台</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <style>
      .dropdown-toggle::after {
        display: none;
      }
    </style>
  </head>

  <nav class="navbar navbar-dark bg-primary position-relative" style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);">
    <a href="/">
      <img src="/image/logo.png" alt="logo.png">
    </a>
    
    <div class="profile">
      <div class="btn-group">
        <button type="button" class="btn bg-transparent dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle text-white" style="font-size: 35px;"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="/user/profile"><button class="dropdown-item text-center" type="button">個人檔案</button></a>
          <a href="/favorites"><button class="dropdown-item text-center" type="button">收藏清單</button></a>
          <a href="/"><button class="dropdown-item text-center" type="button">前台</button></a>
          <a href="/user/logout"><button class="dropdown-item text-center" type="button">登出</button></a>
        </div>
      </div>
    </div>
  </nav>

  <body style="background-color:#F0F0F0;">
    <div class="row w-100 p-0 m-0" style="min-height: 85vh;">
      <section class="sidebar-section col-12 col-md-3 bg-white">
        <div class="sidebar-img text-center w-100 p-1">
          {{#if user.image}}
          <img src="{{user.image}}" alt="avatar" style="width: 150px">
          {{else}}
          <img src="/image/logo.jpg" style="width: 150px">
          {{/if}}
          {{#if user.nickName}}
            <span class="d-block mt-2">{{user.nickName}}，您好</span>
          {{else}}
            <span class="d-block mt-2">親愛的，您好</span>
          {{/if}}    
        </div>
        <hr />
        {{#if (equal user.AuthorityId 4)}}
        <a href="/admin/classes">
          <div class="manage-classes text-center p-2">
            <span class="font-weight-bold">管理所有班級</span>
          </div>
        </a>
        <a href="/admin/users">
          <div class="manage-classes text-center p-2">
            <span class="font-weight-bold">管理使用者權限</span>
          </div>
        </a>
        {{/if}}
        <a href="/admin/voicefiles">
          <div class="manage-classes text-center p-2">
            <span class="font-weight-bold">瀏覽所有學員音檔</span>
          </div>
        </a>
        <a href="/admin/voicefiles/waitingfeedback">
          <div class="manage-classes text-center p-2">
            <span class="font-weight-bold">未點評音檔作業</span>
          </div>
        </a>
      </section>
      {{{body}}}
    </div>
    
  </body>
  <footer class="position-static">
    <div class="footer-copyright text-center py-3" style="background-color: #F5F5F5;">© 2022 Copyright
      <a href="https://cmcc.com.tw/" class="text-Dark">澄意文創 © 2022</a>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="/javascripts/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</html>