<div class="class-voicefile-container col-12 col-md-9 mx-auto my-2">
  {{>message}}
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">收藏清單</a>
  </div>
  <div class="tab-content bg-white" id="nav-tabContent">
    <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="d-flex justify-content-around">
        <h3 class="text-center mb-0">收藏音檔</h3>
      </div>
      <hr />
      {{#unless favorites}}
      <div class="alert alert-info" role="alert">
        現在沒有任何收藏<br />
        趕快把喜歡的音檔加入收藏吧！
      </div>
      {{/unless}}
      {{#each favorites}}
      <div class="card bg-light text-dark m-auto" style="max-width: 720px;">    
        <div class="voicefile row no-gutters">
          <div class="col-md-4 d-flex flex-column">
            <div class="voicefile-user-container">
              <div class="voicefile-user d-flex justify-content-center align-items-center p-1">
                <span>{{this.Voicefile.dataValues.User.dataValues.name}}</span>
              </div>
            </div>
            <div class="voicefile-class-container">
              <div class="voicefile-class d-flex justify-content-center align-items-center p-1">
                <span>{{this.Voicefile.dataValues.Class.dataValues.name}}</span>
              </div>
            </div>
            <div class="voicefile-homework-container">
              <div class="voicefile-homework d-flex justify-content-center align-items-center p-1">
                <span>{{this.Voicefile.dataValues.Homework.dataValues.name}}</span>
              </div>
            </div>
            <div class="voicefile-button-container">
              <div class="voicefile-button d-flex justify-content-center p-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-white border border-danger text-danger mx-1 p-1" data-toggle="modal" data-target="#favoriteModal-{{this.id}}">
                  取消收藏
                </button>

                <!-- Modal -->
                <div class="modal fade" id="favoriteModal-{{this.id}}" tabindex="-1" aria-labelledby="favoriteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="favoriteModalLabel">確認取消收藏?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        您確定要取消收藏嗎?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <form action="/favorites/{{this.Voicefile.dataValues.id}}?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-white border border-danger text-danger mx-1 p-1">取消收藏</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                {{!-- <form action="/favorites/{{this.Voicefile.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-white border border-danger text-danger mx-1 p-1">取消收藏</button>
                </form> --}}
                <a href="/classes/{{this.Voicefile.dataValues.Class.dataValues.id}}/homeworks/{{this.Voicefile.dataValues.Homework.dataValues.id}}/voicefiles/{{this.Voicefile.dataValues.id}}/feedbacks" class="btn btn-success p-1">查看回饋</a>
              </div>
            </div>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <div class="container-audio d-flex justify-content-center">
                {{!-- <audio controls class="w-100" preload="none">
                  <source src="https://docs.google.com/uc?export=open&id={{this.Voicefile.dataValues.googleFileId}}"
                      type="audio/mp4">
                  <source src="https://docs.google.com/uc?export=open&id={{this.Voicefile.dataValues.googleFileId}}"
                    type="audio/mpeg">
                  <source src="https://docs.google.com/uc?export=open&id={{this.Voicefile.dataValues.googleFileId}}"
                    type="audio/ogg">  
                  您的瀏覽器不支援 audio tag，請點選下面網址收聽音檔
                  <a href="https://docs.google.com/uc?export=open&id={{this.Voicefile.dataValues.googleFileId}}">音檔連結</a>
                </audio> --}}
                <iframe src="https://drive.google.com/file/d/{{this.Voicefile.dataValues.googleFileId}}/preview" width="100%" height="65" class="bg bg-white"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      {{/each}}

    </div>
  </div>
</div>
{{#if pagination.pages}}
<div class="paginator-container">
  <nav aria-label="Page navigation example" class="mt-2">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/favorites?page={{pagination.prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each pagination.pages}}
      {{#if (equal this ../pagination.currentPage)}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/favorites?page={{this}}">{{this}}</a></li>
      {{/if}}
      {{/each}}
      <li class="page-item"><a class="page-link" href="/favorites?page={{pagination.next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
{{/if}}