<style>
.container-audio {
    width: 100%; 
    height: auto;
    border-radius: 5px;
    background-color: #F1F3F4;
    color: #fff;
    overflow: hidden;
}
audio {
  width:100%;
}

@media screen and (min-width: 768px) {
  .upload-file-container {
    position: relative;
    left: 67%;
  }
  .posts-container {
    position: relative;
    right:33%;
  }
}
</style>

{{>message}}
<div class="banner mb-2" style="background-color:#F0F0F0;">
  <div class="row m-auto">
    <div class="col-12 col-md-5 d-flex align-items-center">
      <div class="image-container d-flex justify-content-center p-2">
        {{#if homework.image}}
        <img src="https://drive.google.com/uc?export=view&id={{homework.image}}" class="w-50">
        {{else}}
        <img class="d-block w-50 p-3" src="/image/logo.jpg">
        {{/if}}
      </div>
    </div>
    
    <div class="col-12 col-md-7">
      <div class="banner-content p-3">  
        <h3 class="text-center">{{homework.Class.name}}  {{homework.name}}</h3>
        <p class="p-2">
          <pre style="white-space: pre-wrap;">{{homework.description}}</pre>
        </p>
      </div>
    </div>    
  </div>
</div>

<div class="container" style="background-color:#F0F0F0;">
  <div class="row m-auto">
    <div class="upload-file-container col-12 col-md-4 mb-2">
      <div class="uploadfile-section" style="background-color:#F0F0F0;">
        <div class="input-group d-flex justify-content-center m-auto">
          <form action="/classes/{{homework.Class.id}}/homeworks/{{homework.id}}/uploadVoiceFile" method="POST" enctype="multipart/form-data" class="border p-4" style="border-radius:15px; background-color:#FFF">
            <h3>音檔上傳區</h3>
            <hr>
            <div class="form-group m-auto">
              <label for="voicefile">在此上傳音檔</label>
              <input type="file" id="voicefile" name='voiceFile' class="form-control">
              <button type="submit" class="btn btn-primary w-100 mt-2">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    {{#if homework.Voicefiles}} 
      <div class="posts-container col-12 col-md-8">
        {{#each homework.Voicefiles}}
        <div class="posts-section">
          <div class="post position-relative p-1">   
            <div class="delete-homework" style="position: absolute; right: 20px; top: 10px; z-index:1;">
              <form action="/classes/{{../homework.Class.id}}/homeworks/{{../homework.id}}/voicefiles/{{this.id}}?_method=DELETE" method="POST">
                {{!-- <button type="submit" class="btn btn-link">
                  <i class="fas fa-minus-square text-danger" style="font-size: 20px;"></i>
                  
                </button> --}}
                <button type="submit" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
              
            </div>
          
            <div class="row m-auto" style="background-color: #fff; border-radius:15px;">
              <div class="col-6">
                <div class="author-img d-flex justify-content-center p-1">
                  <i class="fas fa-user-circle text-secondary" style="font-size: 35px;"></i>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <div class="voicefile-name d-flex justify-content-center align-items-center p-1">
                  <span>{{../homework.name}}</span>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <div class="author-name d-flex justify-content-center p-1">
                  <h4>{{this.User.name}}</h4>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="upload-time d-flex justify-content-center p-1">
                  <span class="d-block">上傳日期: {{this.createdAt}}</span>
                </div>
              </div>
              <div class="col-12">
                <div class="container-audio">
                  <audio controls>
                    <source src="https://docs.google.com/uc?export=download&id={{this.googleFileId}}" type="audio/mpeg">
                    Your browser dose not Support the audio Tag
                  </audio>
                </div>
              </div>
           
              <div class="col-12">
                <hr class="m-1"/>
                <div class="feedback-button d-flex justify-content-around">
                  <a class="thumb btn "><i class="far fa-thumbs-up"></i>讚</a>
                  <a class="favorite btn"><i class="fas fa-heart"></i>收藏</a>
                  <a class="feedback btn"><i class="fas fa-comments"></i>回饋</a>
                </div>
                <hr class="m-1"/>
              </div>
              {{#if feedback}}
              <div class="col-12">
                <div class="feedback-area">
                  <div class="post-feedback d-flex">  
                    <div class="user-image">
                      <i class="fas fa-user-circle text-secondary" style="font-size: 35px;"></i>
                    </div>
                    <div class="feedback-content m-2 p-1 border">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem consequuntur repellendus explicabo fugiat. Unde id facere perspiciatis, ullam magnam nihil qui sunt suscipit, velit nemo soluta dolorem non exercitationem ab?
                    </div>
                  </div>
                </div>

              </div>    
              
              <div class="col-12">
                <div class="feedback-area">
                  <div class="post-feedback d-flex">  
                    <div class="user-image">
                      <i class="fas fa-user-circle text-secondary" style="font-size: 35px;"></i>
                    </div>
                    <div class="feedback-content m-2 p-1 border">
                      Lorem, ipsum dolor sit amet consectetur adipisicing
                    </div>
                  </div>
                </div>
              </div> 
              {{/if}}

            </div>      
          </div>
        </div>
        {{/each}}
      </div>
    {{else}}
    <div class="posts-container col-10 col-md-8 mx-auto">
      <div class="posts-section">
        <div class="alert alert-info" role="alert">
          現在沒有音檔<br />
          成為第一個上傳者
        </div>
      </div>
    </div>     
    {{/if}}
  </div>
</div>