<style>
  .container-audio {
      width: 100%; 
      height: auto;
      border-radius: 5px;
      background-color: #F1F3F4;
      color: #fff;
      overflow: hidden;
  }
  audio {
    width:100%;
  }
</style>

<div class="banner bg-secondary position-relative" style="height: 150px; margin-bottom: 90px; background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);">
  <div class="d-flex justify-content-around position-relative" style="bottom: -50%;">
    <div class="avatar">
      {{#if user.image}}
        <img src="{{user.image}}" alt="avatar" style="width: 150px; clip-path: circle(35%);">
      {{else}}
        <img src="/image/logo.jpg" style="width: 150px">
      {{/if}}
    </div>
    <div class="edit-profile my-auto">
      <a href="/profile/edit" class="btn btn-success">編輯個人檔案</a>
    </div>
  </div>
</div>
<div class="profile-body">
  <div class="row w-100 m-0">
    <div class="user-data-container col-12 col-md-3">
      <div class="user-data bg-white shadow rounded">
        <div class="user-name text-center m-2">
          <h5>姓名: {{user.name}}</h5>
        </div>
        <div class="user-nickname text-center m-2">
          {{#if user.nickName}}
          <h5>暱稱: {{user.nickName}}</h5>
          {{else}}
          <h5>暱稱: 尚未填寫</h5>
          {{/if}}
        </div>
        <div class="user-class text-center m-2">
          <h5>參與課程</h5>
          {{#each user.AttendClasses}}
            {{this.Class.name}}
          <br>
          {{/each}}
          {{#unless user.AttendClasses}}
            尚無加入任何課程
          {{/unless}}
        </div>
        <div class="self-introduction text-center m-2">
          <h5>自我介紹</h5>
          <div>
            {{#if user.introduction}}
            <p>{{user.introduction}}</p>
            {{else}}
            尚未填寫
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="class-voicefile-container col-12 col-md-9">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">音檔管理</a>
        <a class="nav-link" id="nav-class-tab" data-toggle="tab" href="#nav-class" role="tab" aria-controls="nav-class" aria-selected="false">課程一覽</a>
      </div>
      <div class="tab-content bg-white" id="nav-tabContent">
        <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h3 class="text-center" id="test">所有音檔</h3>
          <hr />
          {{#each voicefiles}}
            <div class="card bg-light text-dark m-auto" style="max-width: 720px;">
              <div class="class row no-gutters">
                <div class="col-md-4 d-flex flex-column">

                  <div class="voicefile-class">
                    <div class="voicefile-name d-flex justify-content-center align-items-center p-1">
                      <span>{{this.Homework.dataValues.Class.name}}</span>
                    </div>
                  </div>
                  
                  <div class="voicefile-homework">
                    <div class="voicefile-name d-flex justify-content-center align-items-center p-1">
                      <span>{{this.Homework.dataValues.name}}</span>
                    </div>
                  </div>
                  
                  <div class="voicefile-upload-time">
                    <div class="upload-time d-flex justify-content-center p-1">
                      <span class="d-block">{{dayjs this.createdAt}}</span>
                    </div>
                  </div>

                  <div class="voicefile-feedback">
                    <div class="upload-time d-flex justify-content-center p-1">
                      <a href="/classes/{{this.ClassId}}/homeworks/{{this.HomeworkId}}/voicefiles/{{this.id}}/feedbacks">查看回饋</a>
                    </div>
                  </div>

                </div>
                <div class="col-md-8 d-flex jusfy-content-center align-items-center">
                  <div class="card-body">
                    <div class="container-audio">
                      <audio controls preload="none">
                        <source src="https://docs.google.com/uc?export=open&id={{this.googleFileId}}"
                      type="audio/mp4">
                        <source src="https://docs.google.com/uc?export=open&id={{this.googleFileId}}"
                          type="audio/mpeg">
                        <source src="https://docs.google.com/uc?export=open&id={{this.googleFileId}}"
                          type="audio/ogg">
                        您的瀏覽器不支援 audio tag，請點選下面網址收聽音檔
                        <a href="https://docs.google.com/uc?export=open&id={{this.googleFileId}}">音檔連結</a>
                      </audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          {{/each}}
        </div>

        <div class="tab-pane fade p-3" id="nav-class" role="tabpanel" aria-labelledby="nav-class-tab">
          {{#each user.AttendClasses}}
          <div class="card mb-3 p-3 mb-2 bg-light text-dark mx-auto mb-3" style="max-width: 720px;">
            <a href="/classes/{{this.Class.id}}">      
              <div class="class row no-gutters">
                <div class="col-md-4 d-flex align-items-center">
                  <img class="w-100" src="{{this.Class.image}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{this.Class.name}}</h5>
                    <p class="card-text"><small class="text-muted">加入日期：{{dayjs this.Class.createdAt}}</small></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
 
      </div>
      <div class="paginator-container">
        <nav aria-label="Page navigation example" class="mt-2">
          <ul class="pagination d-flex justify-content-center">
            <li class="page-item">
              <a class="page-link" href="/profile?page={{prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each totalPage}}
            {{#if (equal this ../page)}}
            <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="/profile?page={{this}}">{{this}}</a></li>
            {{/if}}
            {{/each}}
            <li class="page-item"><a class="page-link" href="/profile?page={{next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
